<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Now !</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <div id="message">Waiting for an opponent...</div>

    <div class="board">
        <button id="r0c0"></button> <button id="r0c1"></button> <button id="r0c2"></button>
        <button id="r1c0"></button> <button id="r1c1"></button> <button id="r1c2"></button>
        <button id="r2c0"></button> <button id="r2c1"></button> <button id="r2c2"></button>
    </div>

    <script src="scripts/socket.io.js"></script>
    <script src="scripts/main.js"></script>
</body>
</html>